{% extends "travel/layout.html" %}
{% load static %}

{% block title%}Create New Trip | Travel Pouch{% endblock %}
{% block body %}
    <h1 class="my-4 text-center title">Create New Trip</h1>

    <div class="container">
        <form action="{% url 'newtrip' %}" method="post">
           {% csrf_token %}
           <div class="form-group">
                <b>{{ form.destination.label_tag }}</b>
                {{ form.destination }}
           </div>
           <div class="form-group">
                <label><b>Trip Dates:</b></label>
                <div class="d-flex">
                    <span class="mx-2">From</span>
                    {{ form.start_date }}
                    <span class="mx-2">to</span>
                    {{ form.end_date }}
                </div>
            </div>
            <div class="form-group">
                <b>{{ form.budget.label_tag }}</b>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">UGX</span>
                    </div>
                    {{ form.budget }}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
{% endblock %}